<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/959ac8e6-ad18-4e12-9ea5-285cfd988c81/resourceGroups/ProductsRG/providers/Microsoft.Web/sites/ploomes</ResourceId>
    <ResourceGroup>ProductsRG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://ploomes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e3830d05-f98b-4d1e-8d10-d2c872de73ed</ProjectGuid>
    <PublishUrl>https://ploomes.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ploomes</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>